<h2><%= @play.title %></h2>
<p><%= @play.director %></p>
<h3><%= @play.description %></h3>


<div class="links btn-group">
    <% if user_signed_in? %>
        <% if @play.user_id == current_user.id %>
            <%= link_to 'Edit', edit_play_path(@play)%>
            <%= button_to 'Delete', play_path(@play),  form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete, class: "sign-out-link" %>
        <% end %>
    <% end %>
</div>