<h2><%= @play.title %></h2>
<p><%= @play.director %></p>
<h3><%= @play.description %></h3>

<%= link_to 'Back', root_path%>
<%= link_to 'Edit', edit_play_path(@play)%>
<%= button_to 'Delete', play_path(@play),  form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete %>